@import "tailwind.css";

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

input[type="number"].number-input-no-arrows::-webkit-outer-spin-button,
input[type="number"].number-input-no-arrows::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"].number-input-no-arrows {
    -moz-appearance:textfield; /* Firefox */
}

/* Popper.js arrow positioning */

[data-popper-placement="bottom"] [data-popper-arrow] {
    top: -3px;
}

[data-popper-placement="right"] [data-popper-arrow] {
    left: -3px;
}

[data-popper-placement="left"] [data-popper-arrow] {
    right: -3px;
}

[data-popper-placement="top"] [data-popper-arrow] {
    bottom: -3px;
}